Repository codeofgenius/nls-document-viewer: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --no-warn-ignored, prettier --write

fix theme
  src/components/layout/headerLinks.tsx
  src/components/ui/theme.tsx
  src/lib/constant.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix env schema
  src/lib/schema/env/client.ts
  src/lib/schema/env/server.ts
Due: eslint --fix --no-warn-ignored, prettier --write

add vercel-build
  package.json
Due: prettier --write

added ci setting
  .github/workflows/ci.yml
Due: prettier --write

fix prisma command
  .github/workflows/ci.yml
  package.json
Due: prettier --write

fix typo
  package.json
Due: prettier --write

added markdown etc
  bin/seedToLocalDb.sh
  next.config.ts
  package.json
  pnpm-lock.yaml
  src/app/page.tsx
  src/app/view/[bookSlug]/[...pageSlugs]/page.tsx
  src/app/view/[bookSlug]/page.tsx
  src/assets/image/book.jpg
  src/assets/image/noimage.png
  src/components/common/myImage.tsx
  src/components/view/bookList.tsx
  src/components/view/bookView.tsx
  src/components/view/boomItem.tsx
  src/components/view/markdown/bookmark.tsx.org
  src/components/view/markdown/codeRender.tsx
  src/components/view/markdown/contentRender.tsx
  src/components/view/markdown/headingRender.tsx
  src/components/view/markdown/iframeRender.tsx
  src/components/view/markdown/imageRender.tsx
  src/components/view/markdown/linkRender.tsx
  src/components/view/markdown/listRender.tsx
  src/components/view/markdown/menuRender.tsx
  src/components/view/markdown/modal.tsx
  src/components/view/markdown/paragraphRender.tsx
  src/components/view/markdown/parser.tsx
  src/components/view/markdown/quoteRender.tsx
  src/components/view/markdown/render.tsx
  src/components/view/markdown/scroll.tsx
  src/components/view/markdown/tableRender.tsx
  src/components/view/markdown/textareaRender.tsx.org
  src/db/book/index.ts
  src/db/seeds/index.ts
  src/lib/schema/prisma/migrations/20250902112103_init/migration.sql
  src/lib/schema/prisma/schema.prisma
  src/types/common.ts
  src/types/markdown.ts
  src/types/page.ts
  tsconfig.json
Due: eslint --fix --no-warn-ignored, prettier --write

added prod db to seed doc
  bin/seedToProdDb.sh
  package.json
Due: prettier --write

remove book link from nav
  src/components/layout/headerLinks.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

added PageByChapter
  src/components/view/bookView.tsx
  src/components/view/pageByChapter.tsx
  src/styles/globals.css
  src/types/page.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix myImage
  src/components/common/myImage.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix lint command
  package.json
Due: prettier --write

fix myImage to src
  src/components/common/myImage.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix myImage3
  src/components/common/myImage.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix myImage4
  public/noimage.png
  src/components/common/myImage.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix myImage noImage
  src/assets/image/noimage.png
  src/components/common/myImage.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

added hrRender, definitionRender
  src/components/view/markdown/contentRender.tsx
  src/components/view/markdown/definitionRender.tsx
  src/components/view/markdown/hrRender.tsx
  src/components/view/markdown/iframeRender.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix listRender
  src/components/view/markdown/contentRender.tsx
  src/components/view/markdown/linkRender.tsx
  src/components/view/markdown/listRender.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

added scroll-padding
  src/styles/globals.css
Due: none

added cardLink for md
  .vscode/cspell.json
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/app/api/cardLink/route.ts
  src/components/view/markdown/cardLinkRender.tsx
  src/components/view/markdown/contentRender.tsx
  src/components/view/markdown/paragraphRender.tsx
  src/types/markdown.ts
Due: eslint --fix --no-warn-ignored, prettier --write

added message
  src/components/view/markdown/contentRender.tsx
  src/components/view/markdown/messageRender.tsx
  src/styles/globals.css
Due: eslint --fix --no-warn-ignored, prettier --write

added sampletoggle box
  src/styles/globals.css
Due: none

added latex
  package.json
  pnpm-lock.yaml
  src/components/view/markdown/contentRender.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix message render
  src/components/view/markdown/messageRender.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

added textarea render
  .env.example
  .vscode/cspell.json
  package.json
  pnpm-lock.yaml
  src/actions/markdown.ts
  src/components/view/markdown/contentRender.tsx
  src/components/view/markdown/textareaRender.tsx
  src/lib/api/google.ts
  src/lib/schema/env/server.ts
  src/styles/globals.css
  src/types/markdown.ts
  tsconfig.json
Due: eslint --fix --no-warn-ignored, prettier --write

added gemini for textarea
  .vscode/cspell.json
  src/actions/markdown.ts
  src/components/view/markdown/contentRender.tsx
  src/components/view/markdown/textareaRender.tsx
  src/lib/api/google.ts
  src/types/markdown.ts
Due: eslint --fix --no-warn-ignored, prettier --write

added success particles
  .vscode/cspell.json
  package.json
  pnpm-lock.yaml
  public/heart1.png
  public/heart2.png
  public/heart3.png
  public/heart4.png
  public/heart5.png
  public/heart6.png
  src/components/animations/success.tsx
  src/components/view/markdown/modal.tsx
  src/lib/utils/animations/pixiSuccessParticles.ts
Due: eslint --fix --no-warn-ignored, prettier --write

added Splash Control
  src/app/page.tsx
  src/components/animations/splash.tsx
  src/components/common/splashControl.tsx
  src/components/page/index.tsx
  src/components/view/bookList.tsx
  src/types/page.ts
  tsconfig.json
Due: eslint --fix --no-warn-ignored, prettier --write

added splash screen pixi
  .vscode/cspell.json
  package.json
  pnpm-lock.yaml
  src/components/animations/splash.tsx
  src/components/common/splashControl.tsx
  src/lib/utils/animations/pixiSplashScreen.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix splash gabage collection
  src/components/common/splashControl.tsx
  src/lib/utils/animations/pixiSplashScreen.ts
Due: eslint --fix --no-warn-ignored, prettier --write

fix splash local storage
  src/components/common/splashControl.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

added monaco
  package.json
  pnpm-lock.yaml
  src/components/view/markdown/textareaRender.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix monaca bg color
  src/components/view/markdown/textareaRender.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

added ctrl+enter
  package.json
  pnpm-lock.yaml
  src/components/view/markdown/textareaRender.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix small text
  src/components/view/markdown/textareaRender.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

fix dark border2
  src/components/view/markdown/textareaRender.tsx
Due: eslint --fix --no-warn-ignored, prettier --write

Path conditions:
  eslint --fix --no-warn-ignored: any of: *.{js,mjs,cjs,ts,jsx,tsx}
  prettier --write: any of: **/*.{js,mjs,cjs,ts,jsx,tsx,md,json,yml,yaml}
